* {
    box-sizing: border-box;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

html, body, :root, .btn {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    min-width: 100%;
}

header {
    min-height: min(10vh, 10rem);
}

main {
    background-color: darkred;
    border: 2px solid darkslategray;
    border-radius: 0.5rem;
    box-shadow: inset 0.5rem -1.5rem 1rem 0.5rem rgba(255, 255, 255, 0.25), 
        inset 1rem 1rem 1rem 0.5rem rgba(100, 100, 100, .5),
        0.1rem 0.1rem 1rem 0.25rem rgba(255, 255, 255, 0.75);
    min-height: min(75vh, 55rem);
    margin: 0rem min(6vw, 10%) 0rem min(6vw, 10%);
    padding: min(5vw, 3rem) 0rem min(5vw, 6rem) 0rem;
}

footer {
    min-height: min(10vh, 10rem);
}

.btn_group {
    display: flex;
    flex-wrap: wrap;
    gap: min(2vw, 2rem);
    justify-content: space-between;
    margin: 1rem min(6vw, 10%);
    padding: 0rem 0rem;
}

.btn {
    border: 0.1rem solid black;
    border-radius: 50%;
    box-shadow: inset -0.5rem 0.5rem 1rem 0.5rem rgba(100, 100, 100, 0.25),
        -0.5rem 0.5rem 0.5rem 0.5rem rgba(95, 0, 0, 0.75);
    cursor: pointer;
    display: inline-block;
    font-size: min(5vw, 2rem);
    height: min(25vw, 10rem);
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    text-align: center;
    text-decoration: none;
    width: min(25vw, 10rem);
}

.grid_container {
    background-color: lightslategray;
    border: 2px solid darkslategray;
    border-radius: 0.5rem;
    box-shadow: inset 1rem .25rem 1rem 0.5rem rgba(100, 100, 100, .25),
        0.1rem 0.1rem 1rem 0.25rem rgba(255, 255, 255, 0.75);
    margin: 1rem min(9vw, 10%) min(5vw, 6rem) min(9vw, 10%);
    padding: 0rem 0rem;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
}



